.skillItem {
  background-color: #fafafa;
  border: 1px #dddfe5 solid;
  border-radius: 10px;
  width: 146px;
  height: 107px;
  margin: 10px;
  padding: 30px;
  color: #2e2e31;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgSkills {
  text-align: center;
}

.titleSkill {
  font-weight: 700;
  font-size: 20px;
}
