.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project h1 {
  margin-top: 50px;
  color: #3e497a;
  font-size: 35px;
}
.project img {
  width: 500px;
  border-radius: 10px;
}

.project p {
  font-size: 40px;
  color: #3e497a;
}

.project svg {
  font-size: 60px;
  color: #3e497a;
}

.Actions {
  text-align: right;
}

.Actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.Actions button:hover .Actions button:active {
  background-color: #5a1a01;
  background-color: #5a1a01;
  color: white;
}

.Actions .button--close {
  color: #8a2b06;
}

.Actions .Button {
  background-color: #8a2b06;
  color: white;
}
